<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="author" content="Richard Gibson"/>
  <meta name="description" content="Personal website of Richard Gibson"/>
  <meta name="keywords" content="AI, Video Games, Sports, Speedrun"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Bootstrap recommended meta tag for IE compatibility -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Bootstrap mobile first -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <link rel="shortcut icon" href="static/images/favicon.ico" />
  <title>Richard Gibson</title>

  <!-- Google Analytics start -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27862463-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- Google Analytics end -->
</head>

<body>

<div id="wrap" class="container">

<div class="jumbotron jumbotron-rgg">
  
  <img src="static/images/headshot.png" alt="Headshot" class="img-responsive img-circle" 
       id="headshot">
  <h1>Richard Gibson</h1> 
  <p class="load">Ph.D. Student in Artificial Intelligence and Games</p>
  <a href="mailto:richard.g.gibson@gmail.com" class="social-button pull-left">
    <img src="static/images/email.png" alt="Email" class="img-responsive img-social">
  </a>
  <a href="https://twitter.com/RichardGGibson" class="social-button pull-left" 
     style="padding-left: 2px;">
    <img src="static/images/Twitter.png" alt="Twitter" class="img-responsive img-social">
  </a>
  <a href="http://ca.linkedin.com/in/rggibson" class="social-button pull-left"
     style="padding-right: 3px;">
    <img src="static/images/LinkedIn.png" alt="LinkedIn" class="img-responsive img-social">
  </a>
  <a href="https://github.com/rggibson" class="social-button pull-left" 
     style="padding-right: 3px;">
    <img src="static/images/Github.png" alt="Github" class="img-responsive img-social"
	 style="height: 36px;">
  </a>
  <a href="http://www.youtube.com/user/rggibson11" class="social-button pull-left" 
     style="padding-right: 3px;">
    <img src="static/images/Youtube.png" alt="YouTube" class="img-responsive img-social">
  </a>
  <a href="http://www.twitch.tv/rggibson" class="social-button pull-left">
    <img src="static/images/Twitch.png" alt="TwitchTV" class="img-responsive img-social"
	 style="height: 33px;">
  </a>
</div>

<div class="navbar navbar-rgg">
  <!-- Button for the collapsed navigation menu -->
  <button type="button" class="navbar-toggle" data-toggle="collapse" 
	  data-target=".navbar-responsive-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-brand navbar-brand-rgg visible-sm">#</div>
  <div class="nav-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-nav-rgg">
      <li id="nav-home"><a href="/">Home</a></li>
      <li id="nav-work">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Academic Work <b class="caret"></b>
	</a>
	<ul class="dropdown-menu dropdown-menu-rgg">
	  <li><a href="/work">All</a></li>
	  <li><a href="/work?t=projects">Projects</a></li>
	  <li><a href="/work?t=publications">Publications</a></li>
	  <li><a href="/work?t=presentations">Oral Presentations</a></li>
	  <li><a href="/work?t=awards">Awards</a></li>
	  <li><a href="/work?t=other">Other</a></li>	    
	</ul>	  
      </li>
      <li id="nav-academia">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Academic Interests <b class="caret"></b>
	</a>
	<ul class="dropdown-menu dropdown-menu-rgg">
	  <li><a href="/academia">All</a></li>
	  <li><a href="/academia?t=games">AI in Adversarial Games</a></li>
	  <li><a href="/academia?t=sports">AI in Sports</a></li>
	  <li><a href="/academia?t=vids">AI in Video Games</a></li>
	  <li><a href="/academia?t=music">Computer Music</a></li>
	</ul>
      </li>
      <li id="nav-industry">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Industrial Interests <b class="caret"></b>
	</a>
	<ul class="dropdown-menu dropdown-menu-rgg">
	  <li><a href="/industry">All</a></li>
	  <li><a href="/industry?t=gamedev">Game Development</a></li>
	  <li><a href="/industry?t=research">Research</a></li>
	  <li><a href="/industry?t=startups">Startups</a></li>
	</ul>
      </li>
      <li id="nav-personal">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Personal <b class="caret"></b>
	</a>
	<ul class="dropdown-menu dropdown-menu-rgg">
	  <li><a href="/personal">All</a></li>
	  <li><a href="/personal?t=sports">Sports</a></li>
	  <li><a href="/personal?t=vids">Video Games</a></li>
	  <li><a href="/personal?t=boardgames">Board Games</a></li>
	</ul>
      </li>
      <li id="nav-contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<div id="content">

<!-- Bootstrap js requires jquery -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/parse-xml.js"></script>

{% block content %}
{% endblock %}

</div>

<div id="footer">
<p>&copy; Copyright 2013 Richard Gibson</p>
</div>

</div>

</body>
</html>
