{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-blog").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/sportsbid-phone.png"
	 alt="SportsBid"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>Making Fantasy Fun Again</h2>
    <h4>August 29, 2016</h4>

    <p>
      In my <a href="#aug-9-2016">last post</a>, I talked about how SportsBid works and summarized what SportsBid aims to achieve.
      Today, I'm going into more detail about my problems with existing fantasy games, how SportsBid overcomes these problems, and what makes SportsBid a unique fantasy offering.
      SportsBid's goals are threefold:
    </p>

    <p><strong>1. Lower the barrier to entry in fantasy sports.</strong>
      Throughout my years in university, and there were a lot of years, I loved playing season-long fantasy sports with friends.
      Coming together for live drafts was definitely the highlight each season, but setting lineups each day and trading players were a lot of fun too.
      Once I had kids, my free time decreased significantly and I found it much harder to keep up with player statistics, trends, injuries, and all the other information necessary to compete.
    </p>
    <p>
      SportsBid keeps the fun elements of fantasy intact (only drafts for now, but more features coming soon!), but solves this "information overload" problem by replacing players with teams.
      It is easy to keep up to speed with how well the teams are doing by simply checking the league standings, or better yet, checking each team's odds of winning the championship.
      Furthermore, in SportsBid, you don't need to keep track of how many goals or yards or home runs or free throws or penalty minutes or fumbles or wild pitches or missed dunks that your players accumulate.
      Our scoring system is very simple: for NBA and MLB, 1 win = 1 point, while for the NHL and NFL, 1 win = 2 points and an overtime / shootout loss or tie respectively = 1 point.
    </p>

    <p><strong>2. Provide a more strategy-oriented fantasy game.</strong>
      In recent years, daily fantasy sports (DFS) have exploded onto the fantasy scene.
      In DFS, users draft player lineups for just one day (week for NFL) and score points for how well their players perform over just that day (week).
      Users draft lineups independently, where the only restrictions being that all positions must be filled and that the sum of the salary values assigned to each selected athlete is below some cap.
      For me, the biggest downfall in DFS comes down to one word from the previous sentence: <i>independently</i>.
      In other words, DFS is, for the most part, a single player game.
      There is no interaction among users.
      The winner is the player who models other users' selections, can predict athlete performances, and understands how to solve a <a href="https://en.wikipedia.org/wiki/Knapsack_problem">knapsack problem</a> using those predictions the best.
      Sure there is skill involved, but those don't sound like fun game mechanics to me.
    </p>

    <p> 
      SportsBid is designed for people who enjoy games like poker and strategy board games more than things like solitaire and data analytics.
      Having conducted several SportsBid-type drafts with friends, I can honestly report that SportsBid's auction drafts really do feel like a mini poker tournament.
      Interesting and opposing strategies have started to emerge.
      For example, there is the "patience" strategy where you sit back and let others spend all their chips, swooping in for cheap teams late.
      There is also the "early bird" strategy where you pick up cheap teams early on when it's harder to predict teams' values or when others are following the patience strategy.
      Although there is no physical private information like hole cards in Texas hold'em, you don't know how much your opponents value each team.
      This leads to "bluff bids" where you bid higher than you actually value a team to force an opponent, who you believe values the team higher, to pay more chips.
      Whereas the skill element in typical fantasy games is heavily knowledge-based, skill in SportsBid is more strategy oriented.
      Soon we will even provide you all the information you need to make intelligent decisions: win-loss records, betting lines, and starting pitchers/goalies.
      It is up to you to bid wisely in order to snatch the teams you want and give yourself the best chance at winning.
    </p>

    <p><strong>3. Align engagement between the fantasy game and the real game.</strong>
      This is best described by an example that seems to happen all too frequently in season-long fantasy games.
      Let's say I'm playing season-long NHL and I have both Sidney Crosby and Carey Price on my fantasy team.
      Suppose it's the first month of the season and today the Penguins are playing the Habs.
      Given the quality of both players, it would be silly for me to do anything but have both Crosby and Price in my lineup.
      Now when I'm watching the game, what do I cheer for?
      Do I want Crosby to get a hat-trick at the expense of Price's GAA and SV%, or do I want Price to get a shutout at the expense of Crosby scoring no points?
      By playing fantasy, I've gone from hoping for a Montreal win (I'm a Habs fan) to being very confused as to what I want to happen.
    <p>

    <p>
      Even without conflicting interests, fantasy often leads us to cheer for outcomes that are insignificant in the actual game.
      For instance, suppose I have a star wide receiver and really need him to catch another touchdown pass, but his team has a comfortable lead in the 4th quarter.
      In this situation, the team is better off just running the ball to wind the clock down.
      I can yell and scream at the TV all I want, but chances are pretty slim I'm going to get that touchdown pass I need.
    </p>

    <p>
      By owning teams instead of athletes and earning points purely from wins, the outcomes between SportsBid and the actual games are perfectly aligned.
      Of course, this is no different than traditional pick'em games.
      However, unlike pick'em games, SportsBid brings its unique strategy elements and the fun of fantasy sports along for the ride.
      Instead of cheering for specific events, SportsBid allows us to enjoy all aspects of a game.
    </p>
    <br />
    <p>
      I'm currently looking for 100 or so people to give the SportsBid beta a try.
      Feedback from early users will help me steer development and prioritize new features for release.
      If you enjoy sports and strategy games and can spare 10 minutes to give it a spin, please <a href="https://sportsbid.net#request-beta-key">sign up for a beta key</a> or <a href="/contact">contact me directly</a>.
      Thanks for reading!
    </p>
  </div>
</div>

<div class="row" id="aug-9-2016">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/sb.png"
	 alt="SportsBid"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>SportsBid Beta Launched!</h2>
    <h4>August 9, 2016</h4>

    <p>
      Today, I'm excited to talk about the launch of <a href="https://sportsbid.net">SportsBid</a>, a new type of fantasy sports game and the product that I have been working on throughout this blog series.
      SportsBid fits into a new genre of fantasy sports games that I like to call "team fantasy" where instead of drafting athletes, participants draft teams.
      The social and interactive elements of existing fantasy sports products, such as live drafting, are maintained, while the complexity of choosing among thousands of players is reduced to selecting from a handful of teams.
      In addition, SportsBid's auction drafts have a poker flavour to them, making success in the game much more dependent on strategy than sports knowledge.
      Finally, similar to pick'em games, the engagement experience with SportsBid is much more aligned with the true sport compared to other fantasy games.
      Instead of hoping that one particular player on a team does well, rooting for a team to win is more captivating and keeps you engaged in all aspects of the real game.
    </p>

    <p>
      SportsBid's core gameplay feature is the "Price is Right" style auction draft.
      Similar to a poker tournament, each player starts with an equal stack of chips that can be used to bid on the teams in the auction.
      One by one, teams are drawn at random for everyone to see and a round of bidding for the current team takes place.
      Each player may only make one bid and the highest bidder wins.
      The winning bidder sacrifices their bid to the pot and claims ownership of the team.
      Much like a dealer button in poker, a hammer denotes the player who has the advantage of bidding last in the round, and this hammer rotates to the next player after each team.
      The draft ends once all teams have been drawn and bid for.
      Once all the games have completed, the final pot is divided among the players according to how many wins their teams achieved.
      The more wins your teams earn, the more chips you win.
    </p>

    <p>
      SportsBid currently offers daily and weekly games where players draft teams just for that day or week.
      Users can sign up and play in ranked drafts versus other users, where the results are recorded on global leaderboards within each league.
      As the site is very new and the initial number of users is low, players may not want to wait for others to join and can instead choose to play against computer opponents, either in ranked drafts or just for practice.
      Offering daily contests is not a new concept in fantasy.
      Daily fantasy sports have exploded in popularity in recent years, but the salary cap style drafts they offer are essentially exercises in statistical analysis and lack any interesting gameplay features.
      They are only intriguing because they are gambling.
      SportsBid, on the other hand, offers daily games with stimulating mechanics that are fun even without real money on the line.
    </p>

    <p>
      As it stands today, SportsBid is only a small slice of my vision.
      At the top of my priority list of features to add is the ability to play in private leagues with friends.
      I hope to offer a season-long fantasy experience similar to those I used to play on Yahoo! Fantasy Sports, but with a SportsBid twist.
      SportsBid is currently in closed beta, meaning that you will need a beta key to sign up and play.
      If you would like a key, you can either <a href="https://sportsbid.net#request-beta-key">request a key through the site</a> or <a href="/contact">contact me directly</a>.
      The game is currently completely free to play and I am only asking for feedback from early users at this point in time.
    </p>

    <p>
      In my next blog post, I'll dive a bit deeper into the goals of SportsBid and the specific pain points I aim to ease.
      Stay tuned!
    </p>
<!--
    <p>
      SportsBid aims to simultaneously achieve three goals:
    </p>

    <p><strong>Lower the barrier to entry in fantasy sports.</strong>
      Throughout my years in university (and there were a lot of years), I loved playing season-long fantasy sports with friends.
      Coming together for live drafts was definitely the highlight each season, but setting lineups each day and trading players were a lot of fun too.
      Once I had kids, my free time decreased significantly and I found it much harder to keep up with player statistics, trends, injuries, and all the other information necessary to compete.
      Pick'em games offer a simpler alternative, but lack any kind of interesting game mechanics that kept me coming back for more fantasy.
      SportsBid keeps the fun elements of fantasy intact, but solves this "information overload" problem by replacing players with teams.
      It is easy to keep up to speed with how well the teams are doing by simply checking the league standings, or better yet, checking each team's odds in Vegas of winning the championship that year.
      Furthermore, in SportsBid, you don't need to keep track of how many goals or yards or free throws or home runs or penalty minutes or fumbles or missed dunks or wild pitches that your players accumulate.
      Our scoring system is very simple: 1 win = 1 point.
    </p>

    <p><strong>Provide a more strategy-oriented fantasy game.</strong>
      
    </p>
-->
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/blog-07-09-2016.jpeg"
	 alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>To Bootstrap or Not To Bootstrap</h2>
    <h4>July 9, 2016</h4>

    <p>
      As I mentioned in my last post, I was recently accepted into VIATEC's Venture Acceleration Program (VAP).
      After getting my feet wet with it and after talking to more and more people in the local startup community, there is one big question staring me in the face: do I want to pursue investor money, and if so, when?
    </p>
    <p>
      Right at the start of my first formal VAP meeting, I flat out stated "I want a lifestyle business."
      In retrospect, I realized that I probably don't fully understand all of the pros and cons of what being a lifestyle business means and what my other options are.
      So, I have been digging a little deeper.
      With a lifestyle business, seeking money from investors is basically out of the equation.
      Bootstrapping is the typical route, finding contract work on the side to continue paying the bills and expenses while slowly fleshing out the venture.
      This is certainly less appealing than spending 100% of your time on your exciting new project, but the obvious advantage here is that you keep 100% ownership of the company.
      You have no one to report to but yourself and you are free to make whatever decision you feel is best for your venture.
    </p>
    <p>
      On the other hand, taking money from investors allows you to rapidly grow your business, most critically allowing you to hire employees.
      Building a team with a diverse set of skills is key to success for almost every business I can think of.
      Without money, you're stuck looking for people willing to work for no paycheck, and so far I've come up empty in this regards.
      However, there is much more pressure to "go big or go home" as investors are looking for big returns from the successful companies that they back.
    </p>
    <p>
      The way I'm trying to answer this question is to ask myself this: where do I want my life to be in five years?
      At that time, my kids will be eight and six years old and likely playing sports, and the thing I want most is to have the time to coach their teams.
      This means that I want my career to give me the flexibility required to work around the kids' schedules.
      So I guess I do want a lifestyle business, right?
    </p>
    <p>
      I am still working this out and continuing to read and learn more, but here are my final thoughts.
      For me, a bootstrapped business is less risky than a rapid growth, venture-backed startup because there are more positive outcomes.
      When bootstrapping, as long as revenues are greater than expenses, and as long as this difference is high enough to support myself and my team, then the business is sustainable.
      The need to sell the company for millions of dollars isn't necessary here, though I'd take such a cheque if it came along.
      Just imagine how many sports teams I could coach if I didn't need to work.
      With a fully backed startup, the goal has to be to get acquired and the target price tag is typically in the hundreds of millions of dollars.
      This is how investors make their money and the second you take investor money, there is no turning back.
      The beauty of the lifestyle business is that if things change, you can always switch gears and chase funding.
      I just don't want to go down that path too soon and later wish I hadn't.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/rocket-launch-rocket-take-off-soyuz-41005.jpeg"
	 alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>Ac-cel-er-ate Good Times, Come On!</h2>
    <h4>June 11, 2016</h4>

    <p>
      Now that I have taken the dive and am starting my own venture, I want to give myself the best chance at succeeding and creating a sustainable business.
      I may have a PhD in Computing Science, but when it comes to actually putting together and running a business, I'm pants-on-head clueless.
      So it is pretty clear to me that I could use a lot of help in a number of areas, including:
      <ul>
	<li>accelerating time-to-revenue,</li>
	<li>business strategy, such as team size, when/if to hire, and when/if to raise capital,</li>
	<li>market entry and partnership possibilities, and</li>
	<li>general mentoring and guidance.</li>
      </ul>      
    </p>

    <p>
      It turns out that this kind of assistance and more is provided by <a href="http://acceleratetectoria.com/programs/venture-acceleration-program/">Tectoria's Venture Acceleration Program (VAP),</a> Victoria's take on venture acceleration that is modelled after similar programs in Silicon Valley.
      Better yet, there is an <a href="http://acceleratetectoria.com/programs/entrepreneurshipat/">entrepreneurship option</a> that provides six months of free enrolment in the VAP specially for early-stage ventures.
      With nothing to lose and a whole lot to gain, I quickly put together and submitted an application to the program for my one-man company, <a href="http://robotsharkgaming.com">Robot Shark Gaming</a>.

    <p>
      In early May, I was invited down for a preliminary interview into the program.
      Things went fine and I was invited back for the more formal second interview, but I would have to wait until June.
      The second interview was comprised of a pitch / presentation, followed by questions from the review panel.
      Pitching turned out to be a lot more fun than I had anticipated, the panel seemed to like me and my ideas, and the next day I got word that Robot Shark Gaming had been accepted into the program!
    </p>

    <p>
      I'm pretty excited to get started in the VAP.
      I won't have to wait long either as orientation is in just a few days from the time of this post.
      The coordinators have already sent me an introduction package, and boy oh boy is there a lot of material.
      I am sure I will be learning a lot about running a startup in the next six months.
      I guess I better start reading!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/blog-05-30-2016.jpeg" alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>So What Am I Up To?</h2>
    <h4>May 30, 2016</h4>

    <p>
      For the past two years and change, I have been working with professional poker players on a number of different projects.
      This work has been great and has paid well (even more so from being paid in US dollars).
      However, I am certainly not a professional poker player myself and as such, I have always felt a little disconnected from the products I was building.
      About a year ago, it occurred to me that I really wanted to fix this, and so I told myself "For my next project, I'm going to work on something that I will actually use myself."
      In September, I decided to cut back the poker work to four days a week so that I could start spending one work day a week on a side project of my own.
      About a month ago, my clients decided it was time to wind our poker stuff down, leaving me with some extra time on my hands.
      So, I have now decided to take a head first dive into entrepreneurship and try to create a business centred around my side project.
    </p>

    <p>
      Without getting into too much detail at this point, I can best describe what I'm working on as a new online fantasy sports platform with elements of traditional sports betting, fantasy sports, online poker, and even video games mixed in.
      This is something that friends and I have actually played among ourselves for years and not only does it make watching sports more exciting, it is also simply a lot of fun to play itself.
      When we first started playing, we would all get together in person with pencil, paper, and a deck of cards and log everyone's team selections manually.
      A few years ago, I built a bare-bones web app to make it easier for us to continue playing as my network of friends started to spread out among different cities.
      There really is nothing like it in the current sports betting or fantasy sports markets, and since my friends and I enjoy it, maybe others will too?
    </p>

    <p>
      I am now working by myself full time on creating a free-to-play desktop and mobile web version of this fantasy sports game.
      Since diving in, one of the first things I did was do a bit of market research and sketch out a business plan to guide development and monetization of this little venture.
      Fantasy sports is a large and growing market, and there is a lot of room for innovation from the current fantasy games being offered.
      I love sports and I love games, and heck, I even spent five years of my life studying games during my Ph.D.
      So I figure hey, why not take a crack at this?
    </p>

    <p>
      Even though I trust wholeheartedly that the plan is a good one, it is still a little nerve-wracking to be doing this by myself and with no paycheck flowing in.
      No matter how solid the idea or how well executed the plan is, there is no 100% guarantee that the game will be profitable.
      We have a mortgage and two kids that generate a constant burn rate for our family, and taking this leap is definitely against my normal risk-adverse self.
      On the other hand, we do have a bit of money saved and I can forgo a salary for six months or so without putting the family into a financial crisis.
      I certainly won't be able to see out my entire vision in six months, but I am confident I can build a small piece of it in that time frame.
      It would be really great to find a like-minded developer in a similar situation that I could team up with and who could also forgo a salary for a short period of time.
      I haven't had any luck finding someone yet, but I am continuing to attend networking events in town to meet new folks in the local tech scene.
      In any case, this will certainly be an adventure and even if I fail to get any customers, at least my friends and I will play!
    </p>
  </div>
</div>

{% endblock %}
