{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-blog").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/blog-05-30-2016.jpeg" alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>So What Am I Up To?</h2>
    <h4>May 30, 2016</h4>

    <p>
      For the past two years and change, I have been working with professional poker players on a number of different projects.
      This work has been great and has paid well (even more so from being paid in US dollars).
      However, I am certainly not a professional poker player myself and as such, I have always felt a little disconnected from the products I was building.
      About a year ago, it occurred to me that I really wanted to fix this, and so I told myself "For my next project, I'm going to work on something that I will actually use myself."
      In September, I decided to cut back the poker work to four days a week so that I could start spending one work day a week on a side project of my own.
      About a month ago, my clients decided it was time to wind our poker stuff down, leaving me with some extra time on my hands.
      So, I have now decided to take a head first dive into entrepreneurship and try to create a business centred around my side project.
    </p>

    <p>
      Without getting into too much detail at this point, I can best describe what I'm working on as a new online fantasy sports platform with elements of traditional sports betting, fantasy sports, online poker, and even video games mixed in.
      This is something that friends and I have actually played among ourselves for years and not only does it make watching sports more exciting, it is also simply a lot of fun to play itself.
      When we first started playing, we would all get together in person with pencil, paper, and a deck of cards and log everyone's team selections manually.
      A few years ago, I built a bare-bones web app to make it easier for us to continue playing as my network of friends started to spread out among different cities.
      There really is nothing like it in the current sports betting or fantasy sports markets, and since my friends and I enjoy it, maybe others will too?
    </p>

    <p>
      I am now working by myself full time on creating a free-to-play desktop and mobile web version of this fantasy sports game.
      Since diving in, one of the first things I did was do a bit of market research and sketch out a business plan to guide development and monetization of this little venture.
      Fantasy sports is a large and growing market, and there is a lot of room for innovation from the current fantasy games being offered.
      I love sports and I love games, and heck, I even spent five years of my life studying games during my Ph.D.
      So I figure hey, why not take a crack at this?
    </p>

    <p>
      Even though I trust wholeheartedly that the plan is a good one, it is still a little nerve-wracking to be doing this by myself and with no paycheck flowing in.
      No matter how solid the idea or how well executed the plan is, there is no 100% guarantee that the game will be profitable.
      We have a mortgage and two kids that generate a constant burn rate for our family, and taking this leap is definitely against my normal risk-adverse self.
      On the other hand, we do have a bit of money saved and I can forgo a salary for six months or so without putting the family into a financial crisis.
      I certainly won't be able to see out my entire vision in six months, but I am confident I can build a small piece of it in that time frame.
      It would be really great to find a like-minded developer in a similar situation that I could team up with and who could also forgo a salary for a short period of time.
      I haven't had any luck finding someone yet, but I am continuing to attend networking events in town to meet new folks in the local tech scene.
      In any case, this will certainly be an adventure and even if I fail to get any customers, at least my friends and I will play!
    </p>
  </div>
</div>

{% endblock %}
