{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-blog").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/blog-07-09-2016.jpeg"
	 alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>To Bootstrap or Not To Bootstrap</h2>
    <h4>July 9, 2016</h4>

    <p>
      As I mentioned in my last post, I was recently accepted into VIATEC's Venture Acceleration Program (VAP).
      After getting my feet wet with it and after talking to more and more people in the local startup community, there is one big question staring me in the face: do I want to pursue investor money, and if so, when?
    </p>
    <p>
      Right at the start of my first formal VAP meeting, I flat out stated "I want a lifestyle business."
      In retrospect, I realized that I probably don't fully understand all of the pros and cons of what being a lifestyle business means and what my other options are.
      So, I have been digging a little deeper.
      With a lifestyle business, seeking money from investors is basically out of the equation.
      Bootstrapping is the typical route, finding contract work on the side to continue paying the bills and expenses while slowly fleshing out the venture.
      This is certainly less appealing than spending 100% of your time on your exciting new project, but the obvious advantage here is that you keep 100% ownership of the company.
      You have no one to report to but yourself and you are free to make whatever decision you feel is best for your venture.
    </p>
    <p>
      On the other hand, taking money from investors allows you to rapidly grow your business, most critically allowing you to hire employees.
      Building a team with a diverse set of skills is key to success for almost every business I can think of.
      Without money, you're stuck looking for people willing to work for no paycheck, and so far I've come up empty in this regards.
      However, there is much more pressure to "go big or go home" as investors are looking for big returns from the successful companies that they back.
    </p>
    <p>
      The way I'm trying to answer this question is to ask myself this: where do I want my life to be in five years?
      At that time, my kids will be eight and six years old and likely playing sports, and the thing I want most is to have the time to coach their teams.
      This means that I want my career to give me the flexibility required to work around the kids' schedules.
      So I guess I do want a lifestyle business, right?
    </p>
    <p>
      I am still working this out and continuing to read and learn more, but here are my final thoughts.
      For me, a bootstrapped business is less risky than a rapid growth, venture-backed startup because there are more positive outcomes.
      When bootstrapping, as long as revenues are greater than expenses, and as long as this difference is high enough to support myself and my team, then the business is sustainable.
      The need to sell the company for millions of dollars isn't necessary here, though I'd take such a cheque if it came along.
      Just imagine how many sports teams I could coach if I didn't need to work.
      With a fully backed startup, the goal has to be to get acquired and the target price tag is typically in the hundreds of millions of dollars.
      This is how investors make their money and the second you take investor money, there is no turning back.
      The beauty of the lifestyle business is that if things change, you can always switch gears and chase funding.
      I just don't want to go down that path too soon and later wish I hadn't.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/rocket-launch-rocket-take-off-soyuz-41005.jpeg"
	 alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>Ac-cel-er-ate Good Times, Come On!</h2>
    <h4>June 11, 2016</h4>

    <p>
      Now that I have taken the dive and am starting my own venture, I want to give myself the best chance at succeeding and creating a sustainable business.
      I may have a PhD in Computing Science, but when it comes to actually putting together and running a business, I'm pants-on-head clueless.
      So it is pretty clear to me that I could use a lot of help in a number of areas, including:
      <ul>
	<li>accelerating time-to-revenue,</li>
	<li>business strategy, such as team size, when/if to hire, and when/if to raise capital,</li>
	<li>market entry and partnership possibilities, and</li>
	<li>general mentoring and guidance.</li>
      </ul>      
    </p>

    <p>
      It turns out that this kind of assistance and more is provided by <a href="http://acceleratetectoria.com/programs/venture-acceleration-program/">Tectoria's Venture Acceleration Program (VAP),</a> Victoria's take on venture acceleration that is modelled after similar programs in Silicon Valley.
      Better yet, there is an <a href="http://acceleratetectoria.com/programs/entrepreneurshipat/">entrepreneurship option</a> that provides six months of free enrolment in the VAP specially for early-stage ventures.
      With nothing to lose and a whole lot to gain, I quickly put together and submitted an application to the program for my one-man company, <a href="http://robotsharkgaming.com">Robot Shark Gaming</a>.

    <p>
      In early May, I was invited down for a preliminary interview into the program.
      Things went fine and I was invited back for the more formal second interview, but I would have to wait until June.
      The second interview was comprised of a pitch / presentation, followed by questions from the review panel.
      Pitching turned out to be a lot more fun than I had anticipated, the panel seemed to like me and my ideas, and the next day I got word that Robot Shark Gaming had been accepted into the program!
    </p>

    <p>
      I'm pretty excited to get started in the VAP.
      I won't have to wait long either as orientation is in just a few days from the time of this post.
      The coordinators have already sent me an introduction package, and boy oh boy is there a lot of material.
      I am sure I will be learning a lot about running a startup in the next six months.
      I guess I better start reading!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-8" align="center">
    <img src="/static/images/blog-05-30-2016.jpeg" alt="StockPhoto"
	 class="img-responsive">
  </div>

  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <h2>So What Am I Up To?</h2>
    <h4>May 30, 2016</h4>

    <p>
      For the past two years and change, I have been working with professional poker players on a number of different projects.
      This work has been great and has paid well (even more so from being paid in US dollars).
      However, I am certainly not a professional poker player myself and as such, I have always felt a little disconnected from the products I was building.
      About a year ago, it occurred to me that I really wanted to fix this, and so I told myself "For my next project, I'm going to work on something that I will actually use myself."
      In September, I decided to cut back the poker work to four days a week so that I could start spending one work day a week on a side project of my own.
      About a month ago, my clients decided it was time to wind our poker stuff down, leaving me with some extra time on my hands.
      So, I have now decided to take a head first dive into entrepreneurship and try to create a business centred around my side project.
    </p>

    <p>
      Without getting into too much detail at this point, I can best describe what I'm working on as a new online fantasy sports platform with elements of traditional sports betting, fantasy sports, online poker, and even video games mixed in.
      This is something that friends and I have actually played among ourselves for years and not only does it make watching sports more exciting, it is also simply a lot of fun to play itself.
      When we first started playing, we would all get together in person with pencil, paper, and a deck of cards and log everyone's team selections manually.
      A few years ago, I built a bare-bones web app to make it easier for us to continue playing as my network of friends started to spread out among different cities.
      There really is nothing like it in the current sports betting or fantasy sports markets, and since my friends and I enjoy it, maybe others will too?
    </p>

    <p>
      I am now working by myself full time on creating a free-to-play desktop and mobile web version of this fantasy sports game.
      Since diving in, one of the first things I did was do a bit of market research and sketch out a business plan to guide development and monetization of this little venture.
      Fantasy sports is a large and growing market, and there is a lot of room for innovation from the current fantasy games being offered.
      I love sports and I love games, and heck, I even spent five years of my life studying games during my Ph.D.
      So I figure hey, why not take a crack at this?
    </p>

    <p>
      Even though I trust wholeheartedly that the plan is a good one, it is still a little nerve-wracking to be doing this by myself and with no paycheck flowing in.
      No matter how solid the idea or how well executed the plan is, there is no 100% guarantee that the game will be profitable.
      We have a mortgage and two kids that generate a constant burn rate for our family, and taking this leap is definitely against my normal risk-adverse self.
      On the other hand, we do have a bit of money saved and I can forgo a salary for six months or so without putting the family into a financial crisis.
      I certainly won't be able to see out my entire vision in six months, but I am confident I can build a small piece of it in that time frame.
      It would be really great to find a like-minded developer in a similar situation that I could team up with and who could also forgo a salary for a short period of time.
      I haven't had any luck finding someone yet, but I am continuing to attend networking events in town to meet new folks in the local tech scene.
      In any case, this will certainly be an adventure and even if I fail to get any customers, at least my friends and I will play!
    </p>
  </div>
</div>

{% endblock %}
