{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-contact").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-lg-8 col-md-8">
    <h2>Want to get in touch with me?</h2>
    <p>Just send me an <a href="mailto:richard.g.gibson@gmail.com">email</a>, <a href="https://twitter.com/RichardGGibson">tweet at me</a>, or <a href="http://ca.linkedin.com/in/rggibson">find me on LinkedIn</a>.</p>
  </div>
  <div class="col-lg-4 col-md-4" align="center">
    <img src="/static/images/cat-phone.jpeg" alt="Phone Cat" class="img-responsive">
  </div>
</div>

{% endblock %}
