{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-contact").setAttribute("class", "active");
</script>

The best way to contact me is probably by email or GTalk.
<div id="contact-list">
<ul>
  <li><a href="mailto:richard.g.gibson@gmail.com" alt="Email"><img src="static/images/email.png" border="none">richard.g.gibson@gmail.com</a></li>
  <li><a href="https://twitter.com/RichardGGibson" alt="Twitter"><img src="static/images/Twitter.png" border="none">@RichardGGibson</a></li>
  <li><a href="http://ca.linkedin.com/in/rggibson" alt="LinkedIn"><img src="static/images/LinkedIn.png" border="none">Richard Gibson on LinkedIn</a></li>
</ul>
</div>

{% endblock %}
