{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-home").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-lg-8 col-md-8">
    <p>
      Welcome to my web page! 
      My name is Richard Gibson and I live in Victoria, BC, Canada where I operate my one-man company <a href="http://robotsharkgaming.com">Robot Shark Gaming</a>.
      I am currently building a new fantasy sports game that combines elements of sports betting, traditional and daily fantasy sports, online poker, and video games and promotes strategy over sports knowledge.
      You can read more about my journey with this project over at <a href="/blog">my blog</a>.
      Previously, I worked in poker analytics where I built game-theoretic optimal poker AI programs to help professional poker players improve their game.
    </p>

    <p>
      In 2014, I completed my Ph.D. in <a href="http://cs.ualberta.ca/">Computing Science</a> at the <a href="http://ualberta.ca/">University of Alberta</a>.  
      As a member of the <a href="http://poker.cs.ualberta.ca/">Computer Poker Research Group</a>, the focus of my Ph.D. thesis is in artificial intelligence and computational game theory, specifically in domains involving more than two agents.  
      From 2010 to 2013, I was the main author of <em>Hyperborean3p</em>, a program that plays 3-player limit Texas hold'em.  
      Hyperborean3p has won the 3-player events at the <a href="http://www.computerpokercompetition.org">Annual Computer Poker Competition</a> for five years running and is arguably the best 3-player poker program in the world. 
      Before engaging in Computing Science, I studied Mathematics and hold a Master's degree in Math from Simon Fraser University. 
    </p>

    <p>
      Outside of work and studying, I enjoy playing several <a href="/personal#sports">sports</a>, including tennis, baseball and ball hockey.
      In addition, I am an <a href="/personal#vids">avid video game player</a> and love playing games both casually and competitively.
      Finally, I also enjoy building apps related to my hobbies that others can use and enjoy too, such as <a href="/projects#pbtracker">PB Tracker</a>, a website for tracking video game speedruns.
    </p>
  </div>

  <div class="col-lg-4 col-md-4" align="center">
    <a class="twitter-timeline" href="https://twitter.com/RichardGGibson" data-widget-id="345393426507890688" data-link-color="#00C0FF" data-chrome="nofooter noborders transparent" data-tweet-limit="3" width="100%">Tweets by @RichardGGibson</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

{% endblock %}
