{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-home").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-lg-8 col-md-8">
    <p>
      Welcome to my web page! 
      My name is Richard Gibson and I live in Victoria, BC, Canada.
      I recently completed my Ph.D. in <a href="http://cs.ualberta.ca/">Computing Science</a> at the <a href="http://ualberta.ca/">University of Alberta</a>.  
      As a member of the <a href="http://poker.cs.ualberta.ca/">Computer Poker Research Group</a>, the focus of my Ph.D. thesis is in artificial intelligence and computational game theory, specifically in domains involving more than two agents.  
      From 2010 to 2013, I was the main author of <em>Hyperborean3p</em>, a program that plays 3-player limit Texas hold'em.  
      Hyperborean3p won the 3-player events at the 2013 <a href="http://www.computerpokercompetition.org">Annual Computer Poker Competition</a> and is arguably the best 3-player poker program in the world. 
      I am now lined up to work as a poker AI consultant for a small group of pro poker players who wish to use poker AI as a training partner. 
    </p>

    <p>
      Before engaging in Computing Science, I studied Mathematics and hold a Master's degree in Math from Simon Fraser University. 
      In general, I am interested in fun and challenging problems where I can utilize both my computing and mathematical expertise. 
      I am particularly interested in pursuing:
      <ul>
	<li><a href="/academia">Research in Artificial Intelligence</a></li>
	<li><a href="/industry?t=gamedev">Video Game Development</a></li>
	<li><a href="/industry?t=startups">Tech Startups</a></li>
      </ul>
    </p>
    <p>
      Outside of work and studying, I enjoy playing several <a href="/personal?t=sports">sports</a>, including tennis, baseball and ball hockey.
      Furthermore, I am an avid video game player and love playing games both casually and competively. 
      In particular, I often attempt <em>speedruns</em> of some of my favourite games where the goal is to finish the game as fast as possible. 
      Most of the games I play are from classic consoles such as the original Nintendo and the Sega Genesis. 
      I go by <a href="https://twitter.com/rggibson_">rggibson</a> in the speedrunning community and upload several of my runs to <a href="http://www.youtube.com/user/rggibson11/videos">YouTube</a>.
    </p>
  </div>

  <div class="col-lg-4 col-md-4" align="center">
    <a class="twitter-timeline" href="https://twitter.com/RichardGGibson" data-widget-id="345393426507890688" data-link-color="#00C0FF" data-chrome="nofooter noborders transparent" data-tweet-limit="3" width="100%">Tweets by @RichardGGibson</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

{% endblock %}
