{% extends "base.html" %}

{% block content %}

<div id="twitter-feed">
<a class="twitter-timeline" href="https://twitter.com/RichardGGibson" data-widget-id="345393426507890688" data-link-color="#00C0FF" data-chrome="nofooter noborders transparent" data-tweet-limit="4">Tweets by @RichardGGibson</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<p>
Welcome to my web page! 
My name is Richard Gibson and I live in Victoria, BC, Canada.
Currently, I am remotely completing my Ph.D. in <a href="http://cs.ualberta.ca/">Computing Science</a> at the <a href="http://ualberta.ca/">University of Alberta</a>.  
As a member of the <a href="http://poker.cs.ualberta.ca/">Computer Poker Research Group</a>, the focus of my Ph.D. thesis is in artificial intelligence and computational game theory, specifically in domains involving more than two agents.  
From 2010 to the present, I have been the main author of Hyperborean3p, a program that plays 3-player limit Texas hold'em.  
Hyperborean3p won the 3-player events at the 2013 <a href="http://www.computerpokercompetition.org">Annual Computer Poker Competition</a> and is arguably the best 3-player poker program in the world. 
</p>

<p>
Before engaging in Computing Science, I studied Mathematics and hold a Master's degree in Math from Simon Fraser University. 
In general, I am interested in fun and challenging problems where I can utilize both my computing and mathematical expertise. 
I am particular interested in pursuing:
<ul>
  <li><a href="/academia">Research in Artificial Intelligence</a></li>
  <li><a href="/industry?t=gamedev">Video Game Development</a></li>
  <li><a href="/industry?t=startups">Tech Startups</a></li>
</ul>
</p>

<div style="clear: both"></div>

{% endblock %}
