{% extends "base.html" %}

{% block content %}

{% if url == "/academia" %}
<ul class="nav nav-tabs nav-tabs-rgg">
  <li><a href="#games">AI in Adversarial Games</a></li>
  <li><a href="#sports">AI in Sports</a></li>
  <li><a href="#vids">AI in Video Games</a></li>
  <li><a href="#music">Computer Music</a></li>
</ul>
{% elif url == "/industry" %}
<ul class="nav nav-tabs nav-tabs-rgg">
  <li><a href="#gamedev">Game Development</a></li>
  <li><a href="#research">Industrial Research</a></li>
  <li><a href="#startups">Startups</a></li>
</ul>
{% elif url == "/other" %}
<ul class="nav nav-tabs nav-tabs-rgg">
  <li><a href="#pokerconsulting">Poker AI Consulting</a></li>
  <li><a href="#pbtracker">PB Tracker</a></li>
</ul>
{% endif %}

<div id="no-javascript">Sorry, you need Javascript enabled to see this page properly.</div>
<script type="text/javascript">
  document.getElementById("no-javascript").style.display = "none";
  {% if url == "/academia" %}
  document.getElementById("nav-work").setAttribute("class", "active");
  {% elif url == "/industry" %}
  document.getElementById("nav-industry").setAttribute("class", "active");
  {% elif url == "/other" %}
  document.getElementById("nav-other").setAttribute("class", "active");
  {% endif %}

  parseInterests("/static/xml{{url}}.xml");

</script>

{% endblock %}
