{% extends "base.html" %}

{% block content %}

<div id="no-javascript">Sorry, you need Javascript enabled to see this page properly.</div>
<script type="text/javascript">
  document.getElementById("no-javascript").style.display = "none";
  document.getElementById("nav-personal").setAttribute("class", "active");
  
  {% if not t or t == "sports" %}
  document.writeln('<h1 align="center">Sports</h1>');
  parseProjects("static/xml/sports.xml");
  {% endif %}

  {% if not t or t == "vids" %}
  document.writeln('<h1 align="center">Video Games</h1>');
  parseProjects("static/xml/vids.xml");
  {% endif %}

  {% if not t or t == "boardgames" %}
  document.writeln('<h1 align="center">Board Games</h1>');
  parseProjects("static/xml/boardgames.xml");
  {% endif %}

</script>

{% endblock %}
