{% extends "base.html" %}

{% block content %}

<ul class="nav nav-tabs nav-tabs-rgg">
  {% if not t %}
  <li><a href="#projects">Projects</a></li>
  {% endif %}
  {% if not t or t == "poker" or t == "risk" or t == "golay" or t == "graphs" %}
  <li><a href="#publications">Publications</a></li>
  {% endif %}
  {% if not t or t == "poker" or t == "risk" or t == "golay" %}
  <li><a href="#presentations">Oral Presentations</a></li>
  {% endif %}
  {% if not t or t == "poker" or t == "mario" %}
  <li><a href="#awards">Awards</a></li>
  {% endif %}
  {% if not t or t == "poker" %}
  <li><a href="#blogs">Research Blogs</a></li>
  {% endif %}
  {% if not t or t == "poker" or t == "risk" or t == "mario" or t == "scheduling" %}
  <li><a href="#course-projects">Ph.D. Course Projects</a></li>
  {% endif %}
</ul>
      
<div id="no-javascript">Sorry, you need Javascript enabled to see this page properly.</div>
<script type="text/javascript">
  document.getElementById("no-javascript").style.display = "none";
  document.getElementById("nav-work").setAttribute("class", "active");

  {% if not t %}
  document.writeln('<div id="projects">');
  document.writeln('<h1>Projects</h1>');
  parseProjects("/static/xml/projects.xml");
  document.writeln('</div>');
  {% endif %}

  {% if not t or t == "poker" or t == "risk" or t == "golay" or t == "graphs" %}
  document.writeln('<div id="publications">');
  document.writeln('<h1>Publications</h1>');
  parsePublications("/static/xml/publications.xml", "{{t}}" );
  document.writeln('</div>');
  {% endif %}

  {% if not t or t == "poker" or t == "risk" or t == "golay" %}
  document.writeln('<div id="presentations">');
  document.writeln('<h1>Oral Presentations</h1>');    
  parsePresentations("/static/xml/presentations.xml", "{{t}}");
  document.writeln('</div>');
  {% endif %}
    
  {% if not t or t == "poker" or t == "mario" %}
  document.writeln('<div id="awards">');
  document.writeln('<h1>Awards</h1>');
  parseAwards("/static/xml/awards.xml", "{{t}}");
  document.writeln('</div>');
  {% endif %}

  {% if not t or t == "poker" %}
  function writeResearchBlogs() {
  document.writeln('<div class="row">');
    document.writeln('<div class="col-lg-4 col-md-4">');
      document.writeln('<div class="thumbnail thumbnail-rgg">');
	document.writeln('<div class="caption">');	    
	  document.writeln('<div class="title">2012 Annual Computer Poker Competition</div>');
	  document.writeln('<div class="summary">A short series of blogs for IEEE Spectrum about the 2012 ACPC.</div>');
	  document.writeln('<div class="downloads"><p><a href="http://spectrum.ieee.org/tech-talk/robotics/artificial-intelligence/a-texas-hold-em-tournament-for-ais" class="btn btn-rgg">part 1</a> <a href="http://spectrum.ieee.org/tech-talk/robotics/artificial-intelligence/meet-hyperborean-the-poker-playing-ai" class="btn btn-rgg">part 2</a> <a href="http://spectrum.ieee.org/tech-talk/robotics/artificial-intelligence/champions-declared-in-ai-poker-tournament" class="btn btn-rgg">part 3</a></p></div>');
	  document.writeln('</div>');
	document.writeln('</div>');
      document.writeln('</div>');
    document.writeln('</div>');	  
  }  
  document.writeln('<div id="blogs">');
  document.writeln('<h1>Research Blogs</h1>');
  writeResearchBlogs();
  document.writeln('</div>');
  {% endif %}

  {% if not t or t == "poker" or t == "risk" or t == "mario" or t == "scheduling" %}
  document.writeln('<div id="course-projects">');
  document.writeln('<h1>Ph.D. Course Projects</h1>');
  parseCourseWork("/static/xml/course-work.xml", "{{t}}");
  document.writeln('</div>');
  {% endif %}

</script>

{% endblock %}
